/* font elements */
h1,h2,h3,h4,h5,h6 {
    color: #333;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    line-height: 1.15;
    margin: 0;
}
h1 {
    display: block;
    font-size: 2em;
}

h2 {
    display: block;
    font-size: 1.5em;
}

h3 {
    display: block;
    font-size: 1.17em;
}

h4 {
    display: inline;
    font-weight: 700;
}

p {
    margin: 0.5em 0 0.5em 0;
    line-height: 170%;
    font-family: 'Libre Baskerville', serif;
}

ul li {
    list-style-position: outside;
}

code {
    font-family: Consolas,monospace;
    font-weight: 700;
}

.codeblock {
    border: solid 1px lightgrey;
    border-radius: 4px;
    padding: 2px;
}

/* general */
@media (min-width: 1000px)
html {
    font-size: 18px;
}

body {
    color: #1b1e23;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body #column {
    width: 40rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.content img {
    width: 100%
}


.header {
    display: flex;
    margin-bottom: 1em;
}

.header .logo {
    height: 70px;
    }

.header .title {
    display: inline-block;
    font-family: 'Roboto Condensed',sans-serif;
    color: #333;
    font-weight: 800;
    font-size: 2em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    /*border: solid 1px grey; */
}

.footer {
    margin-top: 6em;
    font-family: 'Roboto',sans-serif;
    color: #333;
    font-weight: 200;
}

.tutorial-nav {
    margin-top: 2em;
}

.tutorial-nav  .previous {
    float: left;
    max-width: 50%;
}

.tutorial-nav  .next {
    float: right;
    max-width: 50%;
}

/*hyperlinks*/
a {
    color: #07a;
    text-decoration: none;
}

a:hover {
    background: #f2f8fa;
}


/* sublinks */
ul.siblinks {
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    column-count: 2;
    list-style-type: none;
    padding: 0;
}

ul.siblinks a.here {
    background: #fbfbfb;
    font-weight: bolder;
}
ul.siblinks a {
    display: inline-block;
    letter-spacing: 0.05em;
    padding: 0.3em;
}

/* sideNote */
.sideNote {
    margin: 1em 0em;
    padding-left: 1em;
    font-size: 0.9em;
    border-left: 2px solid grey;
}

/* datatable */
.datatable {
    border: solid 1px grey;
    border-collapse: collapse;
    font-size: 12px;
}
.datatable thead, td {
    padding: 5px;
    border: solid 1px grey;
}

.datatable thead {
    background: lightgrey;
}


/* sql quiz component */
sql-quiz .sqlQuizHomeDiv {
    margin: 1em 0em;
    background: #f9f9f9;
    padding: 6px;
    border-radius: 6px;
}

sql-quiz .sqlQuizTitle {
    font-weight: 700;
}

sql-quiz .sqlQuizDescription {
    font-weight: 200;
}

sql-quiz .sqlQuizInputArea {
    line-height: 130%;
    min-width: 100%;
}
sql-quiz .sqlQuizInputArea .sqlOption {
    min-width: 100%;
    margin: 0.5em 0em;
    display: flex;
}

sql-quiz input[type=checkbox] {
  transform: scale(1.5);
}

sql-quiz .sqlOption .optionText {
    flex-shrink: 0;
    min-width: 10em;
}

sql-quiz .sqlOption .hintSpan {
    display: none;
    color: blue;
    font-weight: 200;
    margin-left: 1em
}

sql-quiz .sqlQuizInputArea input {
    margin-right: 1em;
    background: none;
    border-radius: 4px;
}

sql-quiz .sqlQuizOutputArea .returnOkay {
    margin-top: 0.5em;
}

/* sql exercise component */
sql-exercise .sqlExHomeDiv{
    margin: 1em 0em;
    font-family: Roboto, sans-serif;
    background: #f9f9f9;
    padding: 6px;
    border-radius: 6px;
}

sql-exercise .sqlExQuestion {
    font-weight: 700;
}

sql-exercise .sqlExComment {
    font-weight: 200;
}

sql-exercise form {
    display: block;
}

sql-exercise .sqlExInputArea {
    line-height: 130%;
    min-width: 100%;
}

sql-exercise .sqlExOutputArea {
    max-height: 12em;
    max-width: 52rem;
    overflow: auto;
    background: #f9f9f9;
}

sql-exercise .sqlExOutputArea .returnOkay {
    margin-top: 0.5em;
}

sql-exercise .sqlExOutputArea .returnError {
    margin-top: 0.5em;
    color: red;
}

sql-exercise .CodeMirror {
    margin: 0.5em 0em;
}

sql-exercise .sqlExInputArea input {
    margin-right: 1em;
    background: none;
    border-radius: 4px;
}
