/* font elements */
h1,h2,h3,h4,h5,h6 {
    color: #333;
    font-family: Roboto Condensed,sans-serif;
    font-weight: 700;
    line-height: 1.15;
    margin: 0;
}
h1 {
    display: block;
    font-size: 2em;
}

h2 {
    display: block;
    font-size: 1.5em;
}

h3 {
    display: block;
    font-size: 1.17em;
}

code {
    font-family: Consolas,monospace;
}

/*hyperlinks*/
a {
    color: #07a;
    text-decoration: none;
}

a:hover {
    background: #f2f8fa;
}


/* sublinks */
ul.siblinks {
    column-count: 2;
    list-style-type: none;
    padding: 0;
}

ul.siblinks a.here {
    background: #fbfbfb;
    font-weight: bolder;
}
ul.siblinks a {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 0.5em;
}

/* general */
body #column {
    margin-left: 4rem;
    width: 40rem;
    margin-right: 4rem;
    margin-below: 6rem;
}

body {
    color: #1b1e23;
    font: 20px/1.5 Lato,sans-serif;
    max-width: 1000px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1000px)
html {
    font-size: 20px;
}

/* datatable */
.datatable {
    border: solid 1px grey;
    border-collapse: collapse;
    font-size: 12px;
}
.datatable thead, td {
    padding: 5px;
    border: solid 1px grey;
}
.datatable thead {
    background: lightgrey;
}

/* sql exercise component */
sql-exercise .sqlExHomeDiv{
    width: 100%;
    //background: pink;
}

sql-exercise .sqlExQuestion {
    font-weight: 700;
    font-style: italic;
}

sql-exercise form {
    display: block;
}

sql-exercise .sqlExInputArea {
    min-width: 100%;
    }

sql-exercise .sqlExOutputArea {
    //background: green;
    max-height:10em;
    overflow: scroll;
}

sql-exercise .sqlExOutputArea .returnError {
    color: red;
}